<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="row home-container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Games</h4>
            </div>

            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>
                                Match Start
                            </th>
                            <th>
                                No. of Sign-ups
                            </th>
                            <th>
                                Sign-in
                            </th>
                            <th>
                                Location
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="match in matches | orderBy: 'startTime':true | itemsPerPage: 5 " >
                            <td><a ui-sref="match({matchId:match.id})"> {{match.startTime | amCalendar}}</a></td>
                            <td>{{match.nosignups}}</td>
                            <td>{{match.signinEarliest | amDateFormat:'hh:mm a' }} - {{match.signinLatest | amDateFormat:'hh:mm a'  }}</td>
                            <td>{{match.location}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>