<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="home-container">
    <div class="row ">
        <div class="col-md-3 highlight">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4  match-label">Location</label>
                    <div class="col-md-8"><span>{{match.location}}</span></div>
                </div>

                <div class="form-group">
                    <label class="col-md-4  match-label">Start</label>
                    <div class="col-md-8">{{match.startTime | amCalendar }}</div>
                </div>

                <div class="form-group">
                    <label class="col-md-4  match-label">Check-in time</label>
                    <div class="col-md-8">{{match.checkinEarliest | amDateFormat:'hh:mm a' }} - {{match.checkinLatest | amDateFormat:'hh:mm a'  }}</div>
                </div>
                <div class="form-group">
                    <label class="col-md-4  match-label">Registration code</label>
                    <div class="col-md-8">
                        <qrcode size="150" data="{{match.regLink}}" href="{{match.regLink}}"></qrcode>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4  match-label">Check-in code</label>
                    <div class="col-md-8">
                        <qrcode size="150" data="{{match.checkinLink}}" href="{{match.checkinLink}}"></qrcode>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 highlight">
                <div class="form-group">
                    <label class="col-md-4  match-label">Registered players</label>
                    <div class="col-md-8">
                        <ul>
                            <li>Crespo Wang</li>
                        </ul>
                    </div>
                </div>
        </div>

        <div class="col-md-3 highlight">
        </div>
    </div>
</div>
{{match}}