<div ng-include="'app/components/navbar/navbar.html'"></div>

<div class="home-container">
    <div class="row ">
        <div class="col-md-10 highlight">
            <form class="form-horizontal">
                <div class="form-group">

                    <label class="col-md-4  match-label">地点</label>
                    <div class="col-md-6"><span>{{match.location}}</span></div>
                </div>

                <div class="form-group">
                    <label class="col-md-4  match-label">开始时间</label>
                    <div class="col-md-6">{{match.startTime | amCalendar }}</div>
                </div>

                <div class="form-group">
                    <label class="col-md-4  match-label">签到时间</label>
                    <div class="col-md-6">{{match.signinEarliest | amDateFormat:'hh:mm a' }} - {{match.signinLatest | amDateFormat:'hh:mm a'  }}</div>
                </div>
                <div class="form-group" ng-if="storage.currentUser.admin" >
                    <label class="col-md-4  match-label">报名链接</label>
                    <div class="col-md-6">
                        <input class="form-control" value="{{match.signupLink}}">
                    </div>
                </div>
                <div class="form-group" ng-if="storage.currentUser.admin">
                    <label class="col-md-4  match-label">Sign-in code</label>
                    <div class="col-md-6">
                        <p>Print the following QR code</p>
                        <qrcode size="250" data="{{match.signinLink}}" href="{{match.signinLink}}"></qrcode>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button ng-if="alreadyIn" disabled="disabled" type="button" class="btn btn-success">你已经报名啦</button>
                        <button ng-if="!alreadyIn && signupOpen" type="button" class="btn btn-success" ui-sref="match-signup({matchId:match.id, matchCode: match.signupCode})">报名</button>
                        <p></p>
                        <button ng-if="!signupOpen" disabled="disabled" type="button" class="btn btn-default">报名和请假时间已经过啦</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button ng-show="!leave && signupOpen" type="button" class="btn btn-warning" ng-click="askLeave()" >请假</button>
                        <button ng-show="leave && signupOpen" type="button" class="btn btn-info" ng-click="askLeave()" >重新加入</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6 col-md-offset-2 highlight">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                报名
                            </th>
                            <th>
                                签到
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="player in players | itemsPerPage: 30 ">
                            <td>{{$index + 1}}</td>
                            <!--<td><input bs-switch ng-model="teams[player.playId]" type="checkbox"-->
                                       <!--data-player-id="player.id"-->
                                       <!--switch-size="mini" switch-label-width="0"-->
                                       <!--ng-true-value="'red'" ng-false-value="'blue'"-->
                                       <!--switch-active="{{storage.currentUser.admin || player.id == storage.currentUser.id}}"-->
                                       <!--switch-label-width="0"-->
                                       <!--switch-on-text="Red" switch-on-color="danger"-->
                                       <!--switch-off-color="primary" switch-off-text="Blue"></td>-->
                            <td>
                                <span ng-if="player.id == storage.currentUser.id" class="glyphicon glyphicon-user" aria-hidden="true"></span>{{player.name}}<span class="label label-info" aria-hidden="true" ng-if="player.admin">C</span> <span class="label label-default" aria-hidden="true" ng-if="player.leave">请假</span>
                            </td>

                            <td>
                                <span class="label label-default" aria-hidden="true" ng-if="player.signinTime == 0 && !player.signupMissing">啥也没干</span>
                                <span class="label label-success" aria-hidden="true" ng-if="player.signinOntime && !player.signupMissing">准时</span>
                                <span class="label label-warning" aria-hidden="true" ng-if="player.signinLate && !player.signupMissing">迟到</span>
                                <span class="label label-default" aria-hidden="true" ng-if="player.signupMissing">访客</span>
                            </td>
                        </tr>
                        <tr ng-if="!players.length"><td colspan="2">还没有人报名哦</td></tr>
                        </tbody>

                    </table>
                    <dir-pagination-controls></dir-pagination-controls>
                </div>

            </div>
    </div>
</div>